*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
}
section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}
.container{
    width: 85%;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(5,1fr);
    grid-template-areas: "box1 box2 box2 box2 box3"
                         "box1 box4 box4 box5 box5";
    border: 2px solid #bdbdbd;  
    background-color: black;
    border-radius: 20px;
}                 
.box1{
    grid-area: box1;
    border-right:2px solid #bdbdbd;
}
img{
    border-radius: 20px;
}
.box2{
    grid-area: box2;
    border-bottom:2px solid #bdbdbd;
    background: transparent;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.box3{
    grid-area: box3;
    border-left: 2px solid #bdbdbd;
    border-bottom: 2px solid #bdbdbd;
    background-color: transparent;
}
.box4{
    grid-area: box4;
    background-color: transparent;
    border-right: 2px solid #bdbdbd;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 15px; */
    position: relative;
}
.box4 img{
    width:30px;
    position: absolute;
    left: 150px;
}
 .box5{
    grid-area: box5 ;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
}
.box5 img{
    width:30px;
    position: absolute;
    left: 150px;
}
p{
    color: #bdbdbd;
}
/* heading */
/* section-1 */
.container1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
    gap: 100px;
}   

.sec-1{
    padding-top: 100px;
}
#heading1{
    font-size:100px ;
    width: 60%;
    color:#9D9FA1;

}
/* section2 */
.sec-2{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.animy1{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.animy1 img{
    width: 80px;
    height: 400px;
    border-radius:20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 2s ease-in-out;
} 
.animy1 img:hover{
    width: 500px ;
    
}
/* section3 */

.passionate{
    width: 25%;
}

.passionate1{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}

.krate1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.krate1ch1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.krate1ch2,.krate1ch3,.krate2ch4,.krate2ch5{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
}
.passionate1 img{
    background-color: black;
}
.sec-3{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.krate2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
}
.passionate p{
    color: #F2F2F2;
    
}
.krate1ch1,.kratech2, h1{
    color: #9D9FA1;
}
/* section-4 */

.sec-4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
}
.ourservices{
    width: 85%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:20px;
}
hr{
    width: 85%;
    border: 2px solid #bdbdbd ;
}

.mainparent1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
  }
.mainparent1.active{
    width:85%;
    border-radius: 20px;
    background-color:rgb(111,3,3);
    border: 2px solid #bdbdbd;
    transition-duration: 2s;
    height: 200px;

}  

.imgparent1{
    width: 83%;
    display: flex;
    justify-content: space-around;
    align-items: center;flex-direction: column;
    gap:10px;
}
.p1{
    display: none;
}
.web1{
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:40px;
}
p{
    width: 100%;
    text-align: center;
}

.mainparent2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.mainparent2.active{
    width:85%;
    border-radius: 20px;
    background-color:rgb(111,3,3);
    border: 2px solid #bdbdbd;
    transition-duration: 2s;
    height: 200px;

}  
.web2{
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:40px;
}
.imgparent2{
    width: 83%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:10px;
}
.p2{
    display: none;
}
.p2.active{
    text-align: center;
    
}
.mainparent3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.mainparent3.active{
    width:85%;
    border-radius: 20px;
    background-color:rgb(111,3,3);
    border: 2px solid #bdbdbd;
    transition-duration: 2s;
    height: 200px;

}  
.imgparent3{
    width: 83%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap:10px;
}
.p3{
    display: none;
}
.p3.active{
    text-align: center;
}
.web3{
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:40px;
}
.mainparent4{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.mainparent4.active{
    width:85%;
    border-radius: 20px;
    background-color:rgb(111,3,3);
    border: 2px solid #bdbdbd;
    transition-duration: 2s;
    height: 200px;
}  
.imgparent4{
    width: 83%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
}
.p4{
    display: none;
}
.p4.active{
    text-align: center;
}
.web4{
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:40px;
}
.mainparent5{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.mainparent5.active{
    width:85%;
    border-radius: 20px;
    background-color:rgb(111,3,3);
    border: 2px solid #bdbdbd;
    transition-duration: 2s;
    height: 200px;
}  
.imgparent5{
    width: 83%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
}
.p5{
    display: none;
}
.p5.active{
    text-align: center;
}
.web5{
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:40px;
}
.button1 img{
    background-color: black;

}
.button1 button{
    background-color: #000000;
    border: none;
    cursor: pointer;
}
.accordion-button1.active {
    mix-blend-mode: lighten;
    position: relative;
    bottom:60px;
    left:50px;
}
.button2 button{
    background-color: #000000;
    border: none;
    cursor:pointer;
}
.accordion-button2.active {
    mix-blend-mode: lighten;
    position: relative;
    bottom:60px;
    left:50px;
}
.button3 button{
    background-color: #000000;
    border: none;
    cursor:pointer;
}
.accordion-button3.active {
    mix-blend-mode: lighten;
    position: relative;
    bottom:60px;
    left:50px;
}
.button4 button{
    background-color: #000000;
    border: none;
    cursor:pointer;
}
.accordion-button4.active {
    mix-blend-mode: lighten;
    position: relative;
    bottom:60px;
    left:50px;
}
.button5 button{
    background-color: #000000;
    border: none;
    cursor:pointer;
}
.accordion-button5.active {
    mix-blend-mode: lighten;
    position: relative;
    bottom:60px;
    left:50px;
}


#title1,#title2,#title3,#title4,#title5{
    cursor: pointer;
}
/* section6 zoom images */

.our{
    width: 85%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:20px;
}
.passionate1{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.passionate{
    width:35%;
}
.firstbox{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 77px;
    
}
.secondbox{
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:35px;
    
}
.sec6{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:40px;

}
.sec6.active{
    backdrop-filter: blur(100px);
}
.sub1{
    width:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #bdbdbd;
    border-radius: 20px;
    cursor: pointer;
  transition: 1s ease;
}
.sub1:hover{
    transform: scale(0.8);
  box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2);
}
.sub2{
    width:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #bdbdbd;
    border-radius: 20px;
    cursor: pointer;
    transition: 1s ease;
} 
.sub2:hover{
    transform: scale(0.8);
  box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2);
}
.sub3{
    width:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #bdbdbd;
    border-radius: 20px;
    cursor: pointer;
    transition: 1s ease;
}
.sub3:hover{
    transform: scale(0.8);
  box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2);
}
.sub4{
    width:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #bdbdbd;
    border-radius: 20px;
    cursor: pointer;
    transition: 1s ease;
}
.sub4:hover{
    transform: scale(0.8);
  box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2);
}
.sub5{
    width:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #bdbdbd;
    border-radius: 20px;
    cursor: pointer;
    transition: 1s ease;
}
.sub5:hover{
    transform: scale(0.8);
  box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2);
}
.sub6{
    width:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #bdbdbd;
    border-radius: 20px;
    cursor: pointer;
    transition: 1s ease;
}
.sub6:hover{
    transform: scale(0.8);
  box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2);
}
.subpass2{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #bdbdbd;
    border-radius: 20px;
}
.subpass1 img{
    width:100%;
}  
.subpass2 img{
    width:100%;
}

.sub1 img{
    width:200px;
    
}
.sub2 img{
    width:200px;
}
.sub3 img{
    width:200px;
}
.sub4 img{
    width:200px;
}
.sub5 img{
    width:200px;
}
.sub6 img{
    width:200px;
}
.zoom1{
    display: none;
    
}
.zoom1.active{
    width:60%;
    height:500px;
}
.zoom1.active img{
    width: 500px;
    height: 500px;
    
}
.images.active{
    position: relative;
    bottom:650px;
}

.close{
    color:chocolate;
    position:relative;
    bottom: 500px;
    left:450px;
}
.close1{
    color:chocolate;
    position:relative;
    bottom: 500px;
    left:450px;
}
.close2{
    color:chocolate;
    position:relative;
    bottom: 500px;
    left:450px;
}
.close3{
    color:chocolate;
    position:relative;
    bottom: 500px;
    left:450px;
}
.close4{
    color:chocolate;
    position:relative;
    bottom: 500px;
    left:450px;
}
.close5{
    color:chocolate;
    position:relative;
    bottom: 500px;
    left:450px;
}

.zoom2.active{
    width:60%;
    height:500px;
}
.zoom2.active img{
    width: 500px;
    height: 500px;
    
}
.zoom3.active{
    width:60%;
    height:500px;
}
.zoom3.active img{
    width: 500px;
    height: 500px;
    
}
.zoom4.active{
    width:60%;
    height:500px;
}
.zoom4.active img{
    width: 500px;
    height: 500px;
    
}
.zoom5.active{
    width:60%;
    height:500px;
}
.zoom5.active img{
    width: 500px;
    height: 500px;
    
}
.zoom6.active{
    width:60%;
    height:500px;
}
.zoom6.active img{
    width: 500px;
    height: 500px;
    
}
.close1.active{
    color:chocolate;
    position:relative;
    bottom: 500px;
    left:450px;
}
.close2.active{
    color:chocolate;
    position:relative;
    bottom: 500px;
    left:450px;
}
.close3.active{
    color:chocolate;
    position:relative;
    bottom: 500px;
    left:450px;
}
.close4.active{
    color:chocolate;
    position:relative;
    bottom: 500px;
    left:450px;
}
.close5.active{
    color:chocolate;
    position:relative;
    bottom: 500px;
    left:450px;
}
.zoom2{
    display:none;
}
.zoom3{
    display:none;
}
.zoom4{
    display: none;
}
.zoom5{
    display: none;
}
.zoom6{
    display: none;
}
.see{
    width:85%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    border: 1px solid #bdbdbd;
    border-radius: 20px;
}
/* section-5 */

.sec5{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:60px;
}
.recent{
    width:85%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:20px;
}
.recent1{
    width: 500px;
    height: 500px;
    border: 1px solid #bdbdbd;
    border-radius: 20px;
}
.recent1 img{
    width:495px;
}
.recent2{
    width: 500px;
    height: 500px;
    border: 1px solid #bdbdbd;
    border-radius: 20px;
}
.recent2 img{
    width:500px;
    
}
.parent1{
    width:85%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
}
.recent3{
    width: 500px;
    height: 500px;
    border: 1px solid #bdbdbd;
    border-radius: 20px;
}
.recent3 img{
    width:495px;
}
.recent4{
    width: 500px;
    height: 500px;
    border: 1px solid #bdbdbd;
    border-radius: 20px;
}
.recent4 img{
    width:500px;
}
.parent2{
    width:85%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
}
.view{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border:1px solid #bdbdbd;
    border-radius: 20px;
}
/* section7 */

.sec7{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}
.bg{
    width:100%;
    height: 575px;
    
    background-image: url(/assets2/background/image1.jpeg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:40px;
    
    

}
#bg1{
    width: 100%;
    font-size: 70px;
    color: white;
    text-align: center;
    
}
#bg2{
    font-size: 12px;
    color: white;
    
}
.consult{
    width: 300px;
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    background-color: #F2F2F2;
    padding: 5px;
    
}
/* section8 */

.sec8{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lastcontainer{
    width:85%;
    display:grid;
    grid-gap: 2px;
    grid-template-columns: repeat(6,1fr);
    grid-template-areas: "lbox1 lbox1  lbox2 lbox2 lbox3 lbox3"
                         "lbox1 lbox1  lbox4 lbox5 lbox5 lbox6";
    border: 2px solid #bdbdbd;  
    background-color: black;
    border-radius: 20px;
}
.lbox1{
    grid-area: lbox1;
    border-right:2px solid #bdbdbd;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.lbox1 img{
    width:200px;
}
.lbox2{
    grid-area: lbox2;
    border-bottom:2px solid #bdbdbd;
    background: transparent;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.lbox3{
    grid-area: lbox3;
    border-left: 2px solid #bdbdbd;
    border-bottom: 2px solid #bdbdbd;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

}
.lbox4{
    
    grid-area: lbox4;
    background-color: transparent;
    border-right: 2px solid #bdbdbd;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    /* gap: 10px; */
}
/* .lbox4 img{
    width: 20px;
} */
 .lbox5{
    grid-area: lbox5 ;
    background-color: transparent;
    border-right: 2px solid #bdbdbd;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.lbox6{
    grid-area: lbox6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lbox4 img{
    width:30px;
    position: absolute;
    left: 20px;
}